In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objs as go
from wordcloud import WordCloud

In [2]:
Doctors= pd.read_csv('Egyptian Doctors Data.csv')

In [3]:
Doctors

,Source,web_scraper_order,specialization,fees,avg_rate,waiting_time,clinic_location,rate_count,doctor_views,pages
0,0 (1),1676137334-729,Physiotherapist,65 EGP,5.0,Waiting Time : 15 Minutes,El-Mansoura,From 16 Visitors,"1,707 View(s)",1048
1,1 (1),1676137337-730,Dermatologist,200 EGP,4.5,Waiting Time : 35 Minutes,El-Ibrahimia,From 68 Visitors,"8,188 View(s)",1048
2,2 (1),1676137340-731,Orthopedist,250 EGP,4.5,Waiting Time : 31 Minutes,6th of October,From 29 Visitors,"1,745 View(s)",1048
3,3 (1),1676137343-732,Gynecologist,150 EGP,NaN,NaN,El-Haram,NaN,"1,155 View(s)",1048
4,4 (1),1676137345-733,Dermatologist,200 EGP,5.0,Waiting Time : 20 Minutes,Nasr City,From 90 Visitors,"4,054 View(s)",1048
...,...,...,...,...,...,...,...,...,...,...
1205,1205 (1),1676128113-21,Urologist,600 EGP,4.0,Waiting Time : 26 Minutes,El-Mohandessin : shehab street,From 51 Visitors,"10,303 View(s)",NaN
1206,1206 (1),1676128119-22,Hepatologist,360 EGP,4.0,Waiting Time : 1 Hour and 5 Minutes,El-Dokki : altahrir,From 188 Visitors,"30,124 View(s)",NaN
1207,1207 (1),1676128125-23,Gynecologist,210 EGP,4.5,Waiting Time : 13 Minutes,El-Mansoura : abbasi street,From 100 Visitors,"9,409 View(s)",NaN
1208,1208 (1),1676128129-24,Internist,250 EGP,4.0,Waiting Time : 31 Minutes,Faisal,From 103 Visitors,"7,555 View(s)",NaN
1209,1209 (1),1676128132-25,Ophthalmologist,200 EGP,5.0,Waiting Time : 17 Minutes,Faisal : 27elshahid Ahmad Hamdy,From 122 Visitors,"7,215 View(s)",NaN

In [4]:
Doctors=pd.DataFrame(Doctors)

In [5]:
Doctors.isna().sum()

Source                 0
web_scraper_order      0
specialization         2
fees                   1
avg_rate              59
waiting_time          58
clinic_location      283
rate_count            57
doctor_views           2
pages                365
dtype: int64

In [6]:
Doctors=Doctors.dropna(subset=['avg_rate'])
Doctors.isna().sum()

Source                 0
web_scraper_order      0
specialization         0
fees                   0
avg_rate               0
waiting_time           0
clinic_location      280
rate_count             0
doctor_views           0
pages                357
dtype: int64

In [7]:
#expand =True :: make the strings in column
#expand =False :: make the strings in list
Doctors["Source"]=Doctors["Source"].str.split(" ",n=1,expand =True)[0]
Doctors["fees"]=Doctors["fees"].str.split(" ",n=1,expand =True)[0]
Doctors["waiting_time"]=Doctors["waiting_time"].str.split(" ",n=4,expand =True)[3]
Doctors["rate_count"]=Doctors["rate_count"].str.split(" ",n=2,expand =True)[1]
Doctors["doctor_views"]=Doctors["doctor_views"].str.split(" ",n=1,expand =True)[0]

In [8]:
#axis=0 for index
#axis=1 for columns
Doctors=Doctors.drop(['pages'],axis=1)
Doctors=Doctors.drop(['clinic_location'],axis=1)
Doctors=Doctors.drop(['doctor_views'],axis=1)
Doctors=Doctors.drop(['web_scraper_order'],axis=1)
Doctors=Doctors.drop(['waiting_time'],axis=1)

In [9]:
Doctors=Doctors.replace(',','',regex=True)
Doctors["rate_count"]=Doctors["rate_count"].replace('','NAN',regex=True)

In [10]:
Doctors["fees"]=Doctors["fees"].astype(float )
#Doctors["waiting_time"]=Doctors["waiting_time"].astype(float )
Doctors["rate_count"]=Doctors["rate_count"].astype(int )
#Doctors["doctor_views"]=Doctors["doctor_views"].astype(int)
Doctors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1151 entries, 0 to 1209
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Source          1151 non-null   object
 1   specialization  1151 non-null   object
 2   fees            1151 non-null   float64
 3   avg_rate        1151 non-null   float64
 4   rate_count      1151 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 54.0+ KB

In [11]:
Doctors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1151 entries, 0 to 1209
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Source          1151 non-null   object
 1   specialization  1151 non-null   object
 2   fees            1151 non-null   float64
 3   avg_rate        1151 non-null   float64
 4   rate_count      1151 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 54.0+ KB

In [12]:
Doctors

     Source   specialization   fees  avg_rate  rate_count
0         0  Physiotherapist   65.0       5.0          16
1         1    Dermatologist  200.0       4.5          68
2         2      Orthopedist  250.0       4.5          29
4         4    Dermatologist  200.0       5.0          90
8         8     Gynecologist  350.0       4.5          27
...     ...              ...    ...       ...         ...
1205   1205        Urologist  600.0       4.0          51
1206   1206     Hepatologist  360.0       4.0         188
1207   1207     Gynecologist  210.0       4.5         100
1208   1208        Internist  250.0       4.0         103
1209   1209  Ophthalmologist  200.0       5.0         122

[1151 rows x 5 columns]

In [13]:
Doctors['total_income']=Doctors['fees']*Doctors['rate_count']
Doctors

     Source   specialization   fees  avg_rate  rate_count  total_income
0         0  Physiotherapist   65.0       5.0          16        1040.0
1         1    Dermatologist  200.0       4.5          68       13600.0
2         2      Orthopedist  250.0       4.5          29        7250.0
4         4    Dermatologist  200.0       5.0          90       18000.0
8         8     Gynecologist  350.0       4.5          27        9450.0
...     ...              ...    ...       ...         ...           ...
1205   1205        Urologist  600.0       4.0          51       30600.0
1206   1206     Hepatologist  360.0       4.0         188       67680.0
1207   1207     Gynecologist  210.0       4.5         100       21000.0
1208   1208        Internist  250.0       4.0         103       25750.0
1209   1209  Ophthalmologist  200.0       5.0         122       24400.0

[1151 rows x 6 columns]

In [14]:
Doctors.rename(columns={'Source': 'ID','specialization':'Specialization','fees':'Fees','avg_rate':'Avg_Rate','rate_count':'Rate_Count','total_income':'Total_Income'}, inplace=True)

In [15]:
Doctors['Specialization'].value_counts()

Dentist                   170
Gynecologist              111
Cardiologist               87
Dermatologist              81
Physiotherapist            78
Orthopedist                78
Internist                  76
Ophthalmologist            52
Pediatrician               48
General Surgeon            46
ENT Doctor                 38
Psychiatrist               35
Nutritionist               33
Urologist                  19
Surgical Oncologist        18
Rheumatologist             17
Vascular Surgeon           16
Pulmonologist              16
Neurologist                16
Neurosurgeon               14
Gastroenterologist         13
Oncologist                 13
Plastic Surgeon            12
Pediatric Surgeon          11
Endocrinologist             9
Andrologist                 6
Obesity Surgeon             5
Hepatologist                4
Allergist                   4
Nephrologist                3
Hematologist                3
Audiologist                 3
Spinal Surgeon              3
Anesthesiologist            3
Scan Center                 3
Infertility Specialist      2
Phoniatrician               2
Cardiothoracic Surgeon      1
Family Doctor               1
Laboratory                  1
Name: Specialization, dtype: int64

In [16]:
Doctors=Doctors.iloc[0:15,:]
Doctors

    ID   Specialization   Fees  Avg_Rate  Rate_Count  Total_Income
0    0  Physiotherapist   65.0       5.0          16        1040.0
1    1    Dermatologist  200.0       4.5          68       13600.0
2    2      Orthopedist  250.0       4.5          29        7250.0
4    4    Dermatologist  200.0       5.0          90       18000.0
8    8     Gynecologist  350.0       4.5          27        9450.0
10  10  General Surgeon  500.0       4.5         115       57500.0
11  11        Urologist  400.0       5.0         949      379600.0
12  12     Neurosurgeon  500.0       5.0          94       47000.0
13  13     Gynecologist  200.0       5.0          46        9200.0
14  14  General Surgeon  200.0       4.5          44        8800.0
15  15     Gynecologist  500.0       5.0          43       21500.0
17  17     Nephrologist  350.0       5.0           4        1400.0
19  19     Pediatrician  350.0       5.0          10        3500.0
20  20  Physiotherapist  150.0       4.5          24        3600.0
21  21       ENT Doctor  170.0       5.0         332       56440.0

In [17]:
from google.colab import files
Doctors.to_excel('Final Egyption Doctors.xlsx')
files.download("Final Egyption Doctors.xlsx")



---



---



---

And here we will have reached the end of phase of cleaning the data and preparing it to be analyzed.

Stay tuned for visualization phase.